*{
    background: transparent url('./Images/Image\ 2.jpg') 0% 0% no-repeat padding-box ;
    top: -131px;
    left: 0px;
    height: 953px;
    background-size: cover;
    background-position: bottom;
}